/*----------------------------------------------------------------
BIGGER POPOVERS
----------------------------------------------------------------*/

div.popover.hover-popover {
    border-radius: 10px;
    transform: ease-in;
    transition: ease-out;
    width: 40rem;
    background-color: var(--background-primary);
    border: 2px solid var(--background-modifier-border) !important;
    max-height: 100%; /*used to be: max-height: 100%  or min-height: auto*/
  }
  
  div.popover.hover-popover .markdown-preview-view {
    font-size: 16px !important;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
  }
  
  div.popover.hover-popover .markdown-embed-content .markdown-preview-section {
    /*preview margin padding*/
    padding: 0rem;
  }
  
  .popover.hover-popover .markdown-embed {
    height: 25rem;
  }
  
  .markdown-embed iframe{
      height: 325px;
  }
  
  .popover.hover-popover .markdown-embed img{
      max-width: 100%;
      max-height: auto;
      margin: 0em;
  }


  /*---------------------------------------------------------------------
------------------- Make subtler folding gutter arrows ----------------
-----------------------------------------------------------------------*/

.CodeMirror-foldgutter-folded:after, .CodeMirror-foldgutter-open:after {
    opacity: 0.5;
    font-size: 60%;
  }
  
  .CodeMirror-foldgutter-folded:hover:after, .CodeMirror-foldgutter-open:hover:after {
    opacity: 1;
  }
  
  .CodeMirror-foldgutter-folded:after {
    content: "\25BA";    
  }
  
  .CodeMirror-foldgutter-open:after {
    content: "\25BC";    
  }


/*---------------------------------------------------------
--------------- Realistic Highlights ----------------------
-----------------------------------------------------------*/

body{
    --fluro-yellow-rgb: 255, 255, 0;
    --fluro-pink-rgb: 255, 0, 255;
    --fluro-blue-rgb: 0, 255, 255;
    --fluro-green-rgb: 0, 255, 0;
    --text-highlight-rgb: var(--fluro-yellow-rgb);
  }
  
  mark.yellow{ --text-highlight-rgb: var(--fluro-yellow-rgb); }
  mark.pink{ --text-highlight-rgb: var(--fluro-pink-rgb); }
  mark.blue{ --text-highlight-rgb: var(--fluro-blue-rgb); }
  mark.green{ --text-highlight-rgb: var(--fluro-green-rgb); }
  
  .markdown-preview-view mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(105deg,
      transparent 0,
      transparent 0.3em,
      rgba(var(--text-highlight-rgb), 0.7) 0.5em,
      rgba(var(--text-highlight-rgb), 0.4) 1.6em,
      rgba(var(--text-highlight-rgb), 0.4) calc(100% - 1.4em),
      rgba(var(--text-highlight-rgb), 0.7) calc(100% - 0.5em),
      transparent calc(100% - 0.3em),
      transparent 100%);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: 0 0 0.75em var(--background-primary-alt);
  }
  
  .cm-s-obsidian span.cm-highlight {
    padding:0.1em 0;
    background: rgba(var(--text-highlight-rgb), 0.4);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: 0 0 0.75em var(--background-primary-alt);
  }
  
  .cm-s-obsidian span.cm-formatting-highlight{
    margin: 0 0 0 -0.4em;
    padding: 0.1em 0 0.1em 0.4em;
    border-radius: 0.8em 0 0 0.4em;
    background: none;
    background-image: linear-gradient(105deg,
      transparent 0,
      transparent 0.3em,
      rgba(var(--text-highlight-rgb), 0.7) 0.5em,
      rgba(var(--text-highlight-rgb), 0.4) 1.6em);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .cm-s-obsidian .cm-highlight+span.cm-formatting-highlight {
    margin: 0 -0.4em 0 0;
    padding: 0.1em 0.4em 0.1em 0;
    border-radius: 0 0.4em 0.8em 0;
    background: none;
    background-image: linear-gradient(105deg,
      rgba(var(--text-highlight-rgb), 0.4) calc(100% - 1.4em),
      rgba(var(--text-highlight-rgb), 0.7) calc(100% - 0.5em),
      transparent calc(100% - 0.3em),
      transparent 100%);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }


/*---------------------------------------------------------
---------------- Image Improvements -----------------------
----------------------------------------------------------*/

img
{
  margin-left: auto;
  margin-right:auto;
  display: block;
}


.markdown-preview-view img {
  max-width: 100%;
  outline: none;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(8, 8, 8, 0.5));
      background-clip: content-box,padding-box;
      border-radius: 20px 20px 20px;
}


/*--------------------------------------------------------------------------------------
-------------------------- bigger link popup preview  ----------------------------------
----------------------------------------------------------------------------------------*/

.popover.hover-popover {
    position: absolute;
    z-index: var(--layer-popover);
    transform: scale(0.9); /* makes the content smaller */
    max-height: 800px;    /* was 300 */
    min-height: 100px;
    width: 500px; /* was 400 */
    overflow: hidden;      
    padding: 0;
    border-bottom: none;
  }
/* I'm not sure what this does, got popove code from Obsdn-Dark-Rmx */
/*
  .popover {
    background-color: var(--background-primary);
    border: 1px solid var(--background-primary-alt);
    box-shadow: 3px 3px 7px var(--background-modifier-box-shadow);
    border-radius: 6px;
    padding: 15px 20px 10px 20px;
    position: relative;
}

/* remove-tweak the bottom gradient on the popup: remove the gradient or set height to 0 */
    .popover.hover-popover:after {
      height: 0px;    
      background: linear-gradient(to bottom, transparent, var(--background-primary) 80%, var(--background-primary));
  }

/* Colour for pop-up text in ⌘+O */
.suggestion-item.is-selected {
  background-color: #2f3136; /* PB changed from var(--text-accent) */
  color: whitesmoke;
}


/*---------------------------------------------------------
------------------- smaller scrollbars --------------------
-----------------------------------------------------------*/

.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }




/*--------------------------------------------------------------------
------------------ Sticky Notes Everywhere ---------------------------
---------------------------------------------------------------------*/

.stickies {
    text-align: center;
    transition: width 2s;
    padding: 5px;
    margin: 10px;
    position: relative;
    float: right;
    right: -30px;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
    width: 40%;
    background: hotpink;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(2deg);
    transition: all 2s ease;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    color: black;
  }
  
  .stickies::after {
    content: "";
    left: -1%;
    top: -10px;
    background: ffff00;
    height: 40px;
    width: 15px;
    border-radius: 10px;
    border: 3px solid black;
    display: inline-block;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(-11deg);
    z-index: 11;
  }
  
  .stickies::before {
    width: 11px;
    height: 20px;
    content: "";
    background: ffff00;
    display: inline-block;
    position: absolute;
    left: -1.3%;
    top: -2px;
    border-radius: 10px;
    border: 3px solid black;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(-11deg);
  }
  
  .stickies2 {
    position: relative;
    float: left;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
    width: 30%;
    background: #edec92;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(-2deg);
    transition: all 2s ease;
    z-index: 1;
    padding: 20px;
    margin: 10px;
    color: black;
  }
  
  .stickies2::after {
    content: "";
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -10px;
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px;
    box-shadow: inset -10px -10px 10px #f0b7a4, inset 3px 3px 5px;
  }

  
/*---------------------------------------------------------
-------------------- Sticky Notes -------------------------
-----------------------------------------------------------*/ 

.sticky {
    background-color:var(--yellow);
    padding:10px;
    width:300px;
    height:200px;
    color:black;
    margin-left:150px;
    font-family: chalkboard;
    box-shadow: 10px 10px 7px rgb(0,0,0,0.5);
    transform:rotate(3deg);
    transition: transform .15s linear;
  }
  .sticky:hover {
    transform:scale(1.1);
  }


/*-------------------------------------------------------------------------------------
-------------------- Translucent modals - from: Nosedive-Obsidian ---------------------
---------------------------------------------------------------------------------------*/

/* Modify modal, omnibar, open looks */
input.prompt-input, input.prompt-input:active, input.prompt-input:focus {
    border-radius: 3px;
    border: 2px solid rgba(38, 38, 59, 0.5); /* in the original code this is var(--text-muted) */
    background-color: transparent;
    box-sizing: border-box;
    border-collapse: collapse;
  }
  
  .modal-bg {
    background-color: #FFFFFF01;
    backdrop-filter: blur(20px);
  }
  
  /* Make legible background for menus since we overrode the background */
  div.popover.hover-popover, .menu, .suggestion-container {
    background-color: #FFFFFF01;
    backdrop-filter: blur(30px);
    border: none;
  }

  

/*-------------------------------------------------------------------
---------------- Vault launch progress bar change color -------------
---------------------------------------------------------------------*/

.progress-bar-subline {
    position: absolute;
    background-color: var(--base2);
    height: 8px;
  }
  
  .progress-bar-line {
    position: absolute;
    opacity: 0.4;
    background-color: var(--base2);
    width: 150%;
    height: 8px;
  }



/*--------------------------------------------------------------------
------------------------ star calendar date --------------------------
----------------------------------------------------------------------*/

#calendar-container [data-tags~="feelings/highlight"]::after {
  content: url('data:image/svg+xml; utf8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve"> <path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558 s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024 l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017 l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z" fill="yellow" stroke="white"/></svg>');
  position: absolute;
  top: -4px;
  right: 4px;
  height: 8px;
  width: 8px;
}

/* flag calendar date */
#calendar-container [data-tags~="feelings/happy"] {
  color: blue; /* Make the text blue */
}

#calendar-container [data-tags~="feelings/surprised"] {
  color: purple; 
}

#calendar-container [data-tags~="feelings/lazy"] {
  color: orange; 
}

#calendar-container [data-tags~="feelings/bad"] {
  color: red; 
}

#calendar-container [data-tags~="feelings/euphoric"] {
  color: rgb(226, 44, 187); 
}


/*-----------------------------------------------------------------------------------------
----------------------- Command palette: change font color of hotkeys ---------------------
------------------------------------------------------------------------------------------- */

.suggestion-item.is-selected .suggestion-hotkey{
  color: yellow
}


/*-----------------------------------------------------------
----------- auto fades status bar items ---------------------
-------------------------------------------------------------*/

.status-bar:not(:hover) .status-bar-item {
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
}


/*-----------------------------------------------------------------------------------
-------------------------------- Comments/Asides ------------------------------------
-------------------------------------------------------------------------------------*/

/*Hide Aside and hover to reveal it*/
.aside-hide {
  text-decoration: unset;
  text-align: justify;
  color: transparent;
  font-weight: unset;
  float: right;
  position: relative;
  margin: .5em;
  margin-right: -1.8em;
  width: 1.5em;
  height: 1.5em;
  clear: right;
  overflow: hidden;
  background-color: var(--background-primary-alt);
  color: transparent;
}
.aside-hide:before {
  display: block;
  border-bottom: 2px solid var(--background-modifier-border);
  content: "🗨 ";
  color: none;
  text-shadow: 0 0 0 var(--interactive-accent);
  font-size: 12px;
  padding-top: .1em;
  padding-left: .3em;
}
.aside-hide:hover {
  white-space: normal;
  text-overflow: unset;
  color: unset;
  width: 400px;
  height: unset;
  background-color: var(--background-primary-alt);
  padding: 1em;
  padding-top: .5em;
  z-index: 3;
  /*box-shadow: .5em .5em var(--outer-bar);*/
  border-right: 2px solid var(--interactive-accent);
}
/*Show Aside*/
.aside-show {
  text-decoration: unset;
  text-align: justify;
  font-weight: unset;
  float: right;
  position: relative;
  margin-right: -25.3em;
  margin-bottom: .2em;
  clear: right;
  width: 400px;
  background-color: var(--background-primary-alt);
  padding: 1em;
  box-shadow: .3em .3em var(--interactive-accent);
}

/*Aside Inside the Note*/
.aside-in {
  text-decoration: none !important;
  text-align: justify;
  font-weight: unset;
  float: right;
  position: relative;
  margin-bottom: .2em;
  clear: right;
  width: 18em;
  background-color: var(--background-primary-alt);
  padding: 1em;
  box-shadow: .3em .3em var(--interactive-accent);
  z-index: 3;
}

.aside-in .internal-embed.is-loaded:not(.image-embed),
.aside-in .markdown-embed {
  width:100%;
}


/*Aside Without Other Styling*/
.aside-clean {
  text-decoration: unset;
  text-align: justify;
  font-weight: unset;
  float: right;
  position: relative;
  margin-right: -25.3em;
  margin-bottom: .2em;
  clear: right;
  width: 400px;
  padding: 0 1em;
}

/*Shrink Scrollbar*/
.aside > ::-webkit-scrollbar {
  width: 5px;
}



/*----------------------------------------------------------------------------
-------------------------------- Embed Adjustments ---------------------------
------------------------------------------------------------------------------*/

.theme-dark, .theme-light {
  /*Sizes*/
  --radius: 0px;
  --tiny: 100px;
  --small: 200px;
  --small-med: 300px;
  --med-small: 400px;
  --medium: 500px;
  --med-tall: 600px;
  --tall: 700px;
}

/*----Embed Adjustments----*/
.internal-embed {
  margin-left: auto;
  margin-right: auto;
}

/*Embed Link Hide/Move*/
.internal-embed[alt*="no-lk"]:not(:hover) .markdown-embed-link,
.internal-embed:not(:hover).nlk .markdown-embed-link {
  display: none;
}

.internal-embed[alt*="lk-l"] .markdown-embed-link,
.internal-embed.lk-l .markdown-embed-link {
  left: 10px;
  right: unset;
}

.internal-embed[alt*="lk-clear"] .markdown-embed-link,
.internal-embed.lk-clear .markdown-embed-link {
  background-color: transparent;
}


/*Title Hide/Show*/
.internal-embed[alt*="no-title"] .markdown-embed-title,
.file-embed-title,
.internal-embed.no-title .markdown-embed-title {
  display: none;
}

.internal-embed[alt*="ttl"] .markdown-embed-title,
.file-embed-title,
.internal-embed.ttl .markdown-embed-title {
  display: block;
}

.internal-embed[alt*="right"],
.internal-embed.right {
  float: right;
  margin-left: .5em;
}
.internal-embed[alt*="left"],
.internal-embed.left {
  float: left;
  margin-right: .5em;
}
.internal-embed[alt*="center"],
.internal-embed.center {
  margin: auto;
}

.internal-embed[alt*="nob"] li, 
.internal-embed[alt*="nob"] li::before {
  list-style: none;
  margin: 0;
  display: none;
}
.internal-embed[alt*="nob"] ul{
  padding-inline-start: 0;
}
.internal-embed[alt*="em+"] .markdown-embed .markdown-preview-view,
.markdown-preview-view .internal-embed[alt*="em+"]:not(.image-embed) {
  padding: 20px 10px;
  display: block !important;
  width: 100%;
  background-color: var(--embed-bg);
}
.internal-embed[alt*="em+"] .markdown-embed-link{
  color: var(--accent);
}

.internal-embed[alt*="clean"] .markdown-embed,
.internal-embed[alt*="clean"] .markdown-embed .markdown-preview-view,
.internal-embed[alt*="clean"] .markdown-embed-content p {
  padding: 0;
  margin: 0;
  box-shadow: 0 0;
  border: 0;
}
.internal-embed[alt*="nmg"] .markdown-embed,
.internal-embed[alt*="nmg"] .markdown-embed .markdown-preview-view {
  margin: 0;
  padding: 0;
}

/*Hide Headings*/
.internal-embed[alt*="no-h"] .markdown-embed h1,
.internal-embed[alt*="no-h"] .markdown-embed h2,
.internal-embed[alt*="no-h"] .markdown-embed h3,
.internal-embed[alt*="no-h"] .markdown-embed h4,
.internal-embed[alt*="no-h"] .markdown-embed h5,
.internal-embed[alt*="no-h"] .markdown-embed h6,
.internal-embed.no-h .markdown-embed h1,
.internal-embed.no-h .markdown-embed h2,
.internal-embed.no-h .markdown-embed h3,
.internal-embed.no-h .markdown-embed h4,
.internal-embed.no-h .markdown-embed h5,
.internal-embed.no-h .markdown-embed h6 {
  display: none;
}
/*Hide Specific Headings*/
.internal-embed[alt*="n-h1"] .markdown-embed h1,
.internal-embed[alt*="n-h2"] .markdown-embed h2,
.internal-embed[alt*="n-h3"] .markdown-embed h3,
.internal-embed[alt*="n-h4"] .markdown-embed h4,
.internal-embed[alt*="n-h5"] .markdown-embed h5,
.internal-embed[alt*="n-h6"] .markdown-embed h6,
.internal-embed.n-h1 .markdown-embed h1,
.internal-embed.n-h2 .markdown-embed h2,
.internal-embed.n-h3 .markdown-embed h3,
.internal-embed.n-h4 .markdown-embed h4,
.internal-embed.n-h5 .markdown-embed h5,
.internal-embed.n-h6 .markdown-embed h6 {
  display: none;
}



/*Height Adjustment*/
.internal-embed[alt*="htiny"] .markdown-embed-content,
.internal-embed.htiny .markdown-embed-content {
  height: var(--tiny);
}
.internal-embed[alt*="hsmall"] .markdown-embed-content,
.internal-embed.hsmall .markdown-embed-content {
  height: var(--small);
}
.internal-embed[alt*="hs-med"] .markdown-embed-content,
.internal-embed.hs-med .markdown-embed-content {
  height: var(--small-med);
}
.internal-embed[alt*="hm-sm"] .markdown-embed-content,
.internal-embed.hm-sm .markdown-embed-content {
  height: var(--med-small);
}
.internal-embed[alt*="hmed"] .markdown-embed-content,
.internal-embed.hmed .markdown-embed-content {
  height: var(--medium);
}
.internal-embed[alt*="htall"] .markdown-embed-content,
.internal-embed.htall .markdown-embed-content {
  height: var(--tall);
}

/*Width Adjustment*/
.internal-embed[alt*="wtiny"],
.internal-embed.wtiny {
  width: 20%;
}
.internal-embed[alt*="wsmall"],
.internal-embed.wsmall{
  width: 30%;
}
.internal-embed[alt*="ws-med"],
.internal-embed.ws-med{
  width: 40%;
}
.internal-embed[alt*="wm-sm"],
.internal-embed.wm-sm{
  width: 50%;
}
.internal-embed[alt*="wmed"],
.internal-embed.wmed{
  width: 60%;
}
.internal-embed[alt*="wm-tl"],
.internal-embed.wm-tl{
  width: 80%;
}
.internal-embed[alt*="wtall"],
.internal-embed.wtall{
  width: 95%;
}
.internal-embed[alt*="full"] .markdown-embed-content,
.internal-embed[alt*="full"] .markdown-embed-content > .markdown-preview-view { 
  max-height: unset;
}





/*----------------------------------------------------------------------------
-----------------------Image Adjustments = Simple ITS-------------------------
------------------------------------------------------------------------------*/

.theme-dark, .theme-light {
  /*Sizes*/
  --radius: 0px;
  --micro: 70px;
  --tiny: 100px;
  --small: 200px;
  --small-med: 300px;
  --med-small: 400px;
  --medium: 500px;
  --med-tall: 600px;
  --tall: 700px;
}
/*----Mobile----*/
@media (max-width: 500px) {
  
  .theme-dark, .theme-light {
      /*Mobile Sizes*/
      --radius: 0px;
      --micro: 70px;
      --tiny: 100px;
      --small: 150px;
      --small-med: 200px;
      --med-small: 250px;
      --medium: 300px;
      --med-tall: 450px;
      --tall: 500px;
  }
}

/*----<i alt=""></i>----*/
i { 
  display: block;
  font-style: unset;
  color: var(--text-normal);
  text-align: center;
  background-color: var(--background-secondary-alt);
  padding: 0 1em;
}

i[alt*="right"] {
  display: block;
  text-align: right;
  background-color: var(--background-secondary-alt);
  padding-right: .8em;
}


i[alt*="left"] {
  display: block;
  text-align: left;
  background-color: var(--background-secondary-alt);
  padding-left: .8em;
}

i[alt*="clear"] {
  clear: both;
}

i[alt*="nobg"] {
  background-color: transparent;
}



/*----Image Positions/Adjustments----*/

/*Captions*/
.image-embed[src*="#cap"]::after,
img[src*="#cap"]::after {
  content: attr(alt);
  color: var(--text-faint);
  display: block;
  text-align: center;
  background-color: var(--background-primary-alt);
}

/* Lithou's Img-Grid CSS */
.img-grid span.image-embed[alt*="."],
span.image-embed[src*="grid"],
span.image-embed[alt*="grid"],
img[alt*="grid"],
img[src*="#grid"],
span.grid img { 
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
}

.img-grid img[alt*="."],
.image-embed[src*="#grid"],
p > img[alt*="grid"],
p > img[src*="#grid"],
span.grid img {
  max-height: 30vh;
}

.img-grid img[alt*="."]:hover,
.image-embed[src*="#grid"]:hover,
img[src*="#grid"]:hover,
img[alt*="grid"]:hover {
  transform: scale(1.5);
}

/*Invert Colors*/
.theme-dark img[alt*="invertb"],
.theme-dark img[src*="#invertb"],
span.invertb .image-embed {
  filter: invert(1) hue-rotate(180deg);
}  
.theme-light img[alt*="invertw"],
.theme-light img[src*="#invertw"],
span.invertw .image-embed {
  filter: invert(1) hue-rotate(180deg);
}
.theme-dark img[alt*="invertbc"],
.theme-dark img[src*="#invertbc"],
span.invertbc .image-embed {
  filter: invert(1) hue-rotate(180deg) contrast(1.5);
}
.theme-light img[alt*="invertwc"],
.theme-light img[src*="#invertwc"],
span.invertwc img {
  filter: invert(1) hue-rotate(180deg) contrast(1.45);
}

/*Fix Float Issues*/
img[alt*="clear"],
img[src*="#clear"],
span.clear .image-embed {
  clear: both;
}
img[alt*="unclr"],
img[src*="#unclr"],
span.unclr .image-embed {
  clear: none !important;
}

/*Round Image*/
img[alt*="circle"],
span.circle .image-embed {
  border-radius: 50%;
}

/*Center Image*/
img[alt*="ctr"],
img[src*="#ctr"],
img[src*="#center"],
.image-embed[alt*="center"],
.imgctr img,
span.center img,
span.ctr img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}


/*--Simplified Version--*/
/*Image Locations*/
/*Left & Right*/
img[alt*="left"],
.image-embed[src*="#left"],
img[src*="#left"]
span.left img {
  float:left;
  margin-right: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}

img[alt*="right"],
.image-embed[src*="#right"],
img[src*="#right"],
span.right img {
  float:right;
  margin-left: 2%;
  margin-bottom: 0px;
}

/*Image Shapes*/
/*Banners*/
img[alt*="banner"],
.image-embed[src*="#banner"],
span.banner img {
  display: block;
  object-fit: cover;
  height: 150px;
  width: 100%;
  margin-bottom: 0px;
}

img[alt*="banner+small"],
.image-embed[src*="#banner+small"],
span.banner-small img {
  display: block;
  object-fit: cover;
  height: var(--tiny);
  width: 100%;
  margin-bottom: 0px;
}

img[alt*="banner+tall"],
.image-embed[src*="#banner+tall"],
span.banner-tall img {
  display: block;
  object-fit: cover;
  height: var(--medium);
  width: 100%;
  margin-bottom: 0px;
}

/*Portait*/
img[alt*="portrait"],
.image-embed[src*="#portrait"],
span.portrait img {
  object-fit: cover;
  height: var(--small-med);
  width: 40%;
}

img[alt*="portrait+small"],
.image-embed[src*="#portrait+small"],
span.portrait-small img {
  height: var(--small);
  width: 20%;
  object-fit: cover;
}

img[alt*="portrait+tall"],
.image-embed[src*="#portrait+tall"],
span.portrait-tall img {
  height: 500px;
  width: 50%;
  object-fit: cover;
}

/*Profile*/
img[alt*="p.rofile"],
.image-embed[src*="#p.rofile"],
span.profile img {
  object-fit: cover;
  height: 100px;
  width: 100px;
  object-position: center !important;
}

img[alt*="p.rofile+medium"],
.image-embed[src*="#p.rofile+medium"],
span.profile-medium img {
  object-fit: cover;
  height: 250px;
  width: 250px;
}

/*--Customizable Version--*/
/*-Image Sizing-*/

/*Fit image within bounds WITHOUT stretching*/
img[alt*="cover"], 
img[src*="#cover"], 
span.image-embed[src*="#cover"] img,
img[alt*="cvr"],
img[src*="#cvr"], 
span.image-embed[src*="#cvr"] img,
span.cvr img {
  object-fit: cover;
}

/*Height*/
img[alt*="hmicro"],
img[src*="#hmicro"],
.image-embed[src*="#hmicro"] img,
span.hmicro img {
  height: var(--micro);
}
img[alt*="htiny"],
img[src*="#htiny"],
.image-embed[src*="#htiny"] img,
span.htiny img {
  height: var(--tiny);
}
img[alt*="hsmall"],
img[src*="#hsmall"],
.image-embed[src*="#hsmall"] img,
span.hsmall img {
  height: var(--small);
}
img[alt*="hs-med"],
img[src*="#hs-med"],
.image-embed[src*="#hs-med"] img,
span.hs-med img {
  height: var(--small-med);
}
img[alt*="hm-sm"],
img[src*="#hm-sm"],
.image-embed[src*="#hs-sm"] img,
span.hs-sm img {
  height: var(--med-small);
}
img[alt*="hmed"],
img[src*="#hmed"],
.image-embed[src*="#hmed"] img,
span.hmed img {
  height: var(--medium);
}
img[alt*="hm-tl"],
img[src*="#hm-tl"],
.image-embed[src*="#hm-tl"] img,
span.hm-tl img {
  height: var(--med-tall);
}
img[alt*="htall"],
img[src*="#htall"],
.image-embed[src*="#htall"] img,
span.htall img {
  height: var(--tall);
}

/*Width*/
img[alt*="wmicro"],
img[src*="#wmicro"],
.image-embed[src*="#wmicro"] img,
.image-embed[alt*="#wmicro"]::after,
span.wmicro img {
  width: var(--micro); 
}

img[alt*="wtiny"],
img[src*="#wtiny"],
.image-embed[src*="#wtiny"] img,
.image-embed[src*="#wtiny"]::after,
span.wtiny img { 
  width: var(--tiny); 
}

img[alt*="wsmall"],
img[src*="#wsmall"],
.image-embed[src*="#wsmall"] img,
.image-embed[src*="#wsmall"]::after,
span.wsmall img {
  width: var(--small);
}

img[alt*="ws-med"],
img[src*="#ws-med"],
.image-embed[src*="#ws-med"] img,
.image-embed[src*="#ws-med"]::after,
span.ws-med img {
  width: var(--small-med); 
}

img[alt*="wm-sm"],
img[src*="#wm-sm"],
.image-embed[src*="#wm-sm"] img,
.image-embed[src*="#wm-sm"]::after,
span.wm-sm img {
  width: var(--med-small); 
}

img[alt*="wmed"],
img[src*="#med"],
.image-embed[src*="#wmed"] img,
.image-embed[src*="#wmed"]::after,
span.wmed img {
  width: var(--medium); 
}

img[alt*="wm-tl"],
img[src*="#m-tl"],
.image-embed[src*="#wm-tl"] img,
.image-embed[src*="#wm-tl"]::after,
span.wm-tl img {
  width: var(--med-tall); 
}

img[alt*="wtall"],
img[src*="#tall"],
.image-embed[src*="#wtall"] img,
.image-embed[src*="#wtall"]::after,
span.wtall img {
  width: var(--tall); 
}


/*--Image Position--*/
/*Inner Image*/
img[alt*="pt"],
.image-embed[src*="#pt"] img,
span.pt img{
  object-fit: cover;
  object-position: top;
}
img[alt*="pb"],
.image-embed[src*="#pb"] img,
span.pb img{
  object-fit: cover;
  object-position: bottom;
}
img[alt*="pl"],
.image-embed[src*="#pl"] img,
span.pl img{
  object-fit: cover;
  object-position: left;
}
img[alt*="p+cl"],
.image-embed[src*="#p+cl"] img,
span.p-cl img{
  object-fit: cover;
  object-position: 25%;
}
img[alt*="pr"],
.image-embed[src*="#pr"] img,
span.pr img{
  object-fit: cover;
  object-position: right;
}
img[alt*="p+cr"],
.image-embed[src*="#p+cr"] img,
span.p-cr img{
  object-fit: cover;
  object-position: 75%;
}
img[alt*="pc"],
.image-embed[src*="#pc"] img,
span.pc img{
  object-fit: cover;
  object-position: center;
}
img[alt*="p+tc"],
.image-embed[src*="#p+tc"] img,
span.p-tc img{
  object-fit: cover;
  object-position: 50% 10%;
}
img[alt*="p+tcc"],
.image-embed[src*="#p+tcc"] img,
span.p-tcc img{
  object-fit: cover;
  object-position: 50% 20%;
}
img[alt*="p+cct"],
.image-embed[src*="#p+cct"] img,
span.p-cct img{
  object-fit: cover;
  object-position: 50% 30%;
}
img[alt*="p+ct"],
.image-embed[src*="#p+ct"] img,
span.p-ct img{
  object-fit: cover;
  object-position: 50% 40%;
}
img[alt*="p+cb"],
.image-embed[src*="#p+cb"] img,
span.p-cb img{
  object-fit: cover;
  object-position: 50% 60%;
}
img[alt*="p+ccb"],
.image-embed[src*="#p+ccb"] img,
span.p-ccb img{
  object-fit: cover;
  object-position: 50% 70%;
}
img[alt*="p+bc"],
.image-embed[src*="#p+bc"] img,
span.p-bc img{
  object-fit: cover;
  object-position: 50% 80%;
}
img[alt*="p+bcc"],
.image-embed[src*="#p+bcc"] img,
span.p-bcc img{
  object-fit: cover;
  object-position: 50% 90%;
}

/*Image Locations*/
img[alt*="locl"],
.image-embed[src*="#locl"] img,
span.locl img {
  float:left;
  margin-right: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}

img[alt*="locr"],
.image-embed[src*="#locr"] img,
span.locr img {
  float:right;
  margin-left: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}


/*--Image Shapes--*/
/*Banners*/
img[alt*="sban"],
.internal-embed[src*="#sban"] img {
  object-fit: cover;
  width: 100%;
}

/*Profile*/
/*Rounded Image*/
img[alt*="sprf"]{
  object-fit: cover;
  border-radius: 100%;
}




/*----------------------------------------------------------------------------
----------------------------Image Flags = Lithou------------------------------
------------------------------------------------------------------------------*/

/*Image Flags Snippet by Lithou
http://github.com/lithou/sandbox


*/

span.image-embed, img{
  --coremarg: 1%; 
  --extramarg: 1%; /* This margin is used for any added margin between items */
  --defaultwidth: 60%; /*This is the default width for core flags such as the "side" and "tape" */
  --minwidth: 50px; /* This specifies the minimum width that %based width images will go to*/
  --defaultzoomwidth: 100%; /* this specifies the default width when an image is zoomed in (usually set active which is clicking with mouse) */
  --defaultscale: 1.5; /* this specifies the default ratio that an image is zoomed in (usually set to hover) */
}


/* Core Flags */
  /*side */
      span[alt*="+side"]{
          width: var(--defaultwidth);
          min-width: var(--minwidth);
          float: right;
          margin: 0px;
          margin-left: var(--coremarg);
      }

      
  /*tape */

      span[alt*="+tape"]{
          position: relative;
          float: right;
          width: var(--defaultwidth);
          min-width: var(--minwidth);
          margin: auto;
          margin-left: var(--coremarg);
          transform: rotate(2deg);
          }


      span[alt*="+tape"]::before {
          content: "";
          position: absolute;
          margin: auto;
          width: 30%;
          height: 14%;
          top: -7%;
          left: 35%;
          background: rgba(255, 234, 118, 0.377); /*here you can chosse the scotch tape background*/
          clip-path: polygon(50% 0%, 100% 0%, 
          98% 10%, 100% 20%, 98% 30%, 100% 40%, 98% 50%, 100% 60%, 98% 70%, 100% 80%, 98% 90%,100% 100%,
          0% 100%, 2% 90%, 0% 80%, 2% 70%, 0% 60%, 2% 50%, 0% 40%, 2% 30%, 0% 20%, 2% 10%, 0% 0%);  
          }


  /* Push Pin */
      span[alt*="+pin"] {
          position: relative;
          float: right;
          width: var(--defaultwidth);
          min-width: var(--minwidth);
          margin: auto;
          margin-left: var(--coremarg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(2deg);}
      span[alt*="+pin"]::before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: #4588cc;
          top: -3%;
          left: 50%;
          border: solid #336699 8px;
          border-radius: 50%;
          box-shadow: #274d74 -5px 3px 1px;}


  /* Portrait and Landscape */
      span[alt*="+portrait"]{
          float: right;
          position: relative;
          width: calc(var(--defaultwidth)/1.5);
          min-width: var(--minwidth);
          vertical-align: top;
          border: solid 5px;
          background-color: black; /*this is the "border colour around the image */
          clip-path: ellipse(40% 45% at 50% 50%);
          }
      img[alt*="+portrait"]{
          clip-path: ellipse(40% 45% at 50% 50%);
          vertical-align: top;
          }


      span[alt*="+landscape"]{
          position: relative;
          width: var(--defaultwidth);
          min-width: var(--minwidth);
          float: right;
          border: solid 3px;
          background-color:black; /* This setting will create a border effect of set color */
          clip-path: ellipse(46% 36% at 50% 50%);
          }
      img[alt*="+landscape"]{
          vertical-align: top;
          clip-path: ellipse(45% 35% at 50% 50%);
      }

  /* Banner and HR */
      span[alt*="+banner"]{
          display: block;
          height: 100px;
          overflow: hidden;
      }

      span[alt*="+banner"]>img{
           margin-top: -130px;
          }

      span[alt*="+hr"]{
          display: block;
          height: 10px;
          overflow: hidden;
          border-radius: 20px;

      }
      span[alt*="+hr"]>img{
          margin-top: -200px;
          }
      

  /*Custom Core Flags */

  img[alt*="+custom1"]{
      position: relative;
      width: var(--defaultwidth);
      float: right;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  img[alt*="+custom2"]{
      position: relative;
      width: var(--defaultwidth);
      float: right;
      margin-top: 0px;
      margin-bottom: 0px;
  }




/* Modifier Flags */
  /* Orientation and position */
      span[alt*="-left"]{
          float: left;
          margin: 0px;
          margin-right: var(--extramarg);}
      span[alt*="-right"]{
          float: right;
          margin: 0px;
          margin-left: var(--extramarg);}
      span[alt*="-fix"]{position: fixed;}
      span[alt*="-abs"]{position: absolute;}

  /* Size */
      span[alt*="-thumb"]{width: 11.50%;}
      span[alt*="-sm"]{width: 24%;}
      span[alt*="-med"]{width: 32.3333%;}
      span[alt*="-lg"]{width: 49%;}
      span[alt*="-huge"]{width: 67%;}
      span[alt*="-cwidth"]{float: none;margin-left: -10%;width: 120%;}

  /* Borders */
      img[alt*="-border1"]{border: solid black 3px;}
      img[alt*="-border2"]{border: solid white 3px;}
      img[alt*="-bradius1"]{border-radius: 5px;}
      img[alt*="-bradius2"]{border-radius: 20px;}
      img[alt*="-bradiustl"]{border-top-left-radius: 20px;}
      img[alt*="-bradiusbr"]{border-bottom-right-radius: 20px;}
      img[alt*="-bradiustr"]{border-top-right-radius: 20px;}
      img[alt*="-bradiusbl"]{border-bottom-left-radius: 20px;}
      img[alt*="-bthick"]{border-width: 5px;}
      img[alt*="-bthin"]{border-width: 1px;}


  /* Shadows */
  span[alt*="-shadow1"]>img{
      box-shadow: darkgrey -2px 2px 2px;
  }


  img[alt*="-glow"]{
      box-shadow: darkgrey 0px 0px 20px;
  }

  span[alt*="-nofloat"]{
      display: inline-block;
      float: unset;
  }


/* Zoom on Hover */
img[alt*="+side"]:not(:active):hover,
span[alt*="+portrait"]:not(:active):hover,
span[alt*="+landscape"]:not(:active):hover{
transform: scale(1.5);
}

/* zoom and reverse rotate on hover */
img[alt*="+tape"]:not(:active):hover,
img[alt*="+pin"]:not(:active):hover{
  transform: scale(1.5) rotate(-2deg);
}



/* Grid View */

span[alt*="+grid"]{
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
}

img[alt*="+grid"]{
  max-height: 30vh;
}

img[alt*="+grid"]:hover{
  transform: scale(1.5);
}
/* Grid View Alternative

/* I'm adding explaination commments here so you know how this works.

I'm also writing this so next time I edit this code I don't forget why 
I did it this way and sit there confused for 30mins trying to figure it out. 

BTW. Hello future Lithou. If you're reading this: You're welcome

How it works: 
This applies to an image if two conditions are met. 
First condition is if the page has a css class of "grid"
Second conditions is if no pipe is used when calling an image 

examples: 
![[test.jpg|alt text]] <-- will not apply as pipe used to make custom alt text
![[test.jpg]] <-- will apply since no pipe used

When no pipe is used, no alt attribute is called by the user.
Obsidian will therefore set the alt attribute equal to the file name. (this is default if it changes, this will pobably break so look here first if it stops working)
This rule will target any image with an alt attribute that has a period in it.
Since all image files should follow "name.extension" all will contain a period.

Note: One key to keep in mind is to not use a period as part of any other img flags. */

.img-grid span.image-embed[alt*="."]{ 
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
}
.img-grid img[alt*="."]{
  max-height: 30vh;
}

.img-grid img[alt*="."]:hover{
  transform: scale(1.5);
}