/**********************/
/* BOLD AND ITALTICS */
/**********************/


strong {
  color: #9e8aff; /* default #9e8aff */
  font-weight: 700; /*previous bold purple: b399fff2 ; alt: red cf6f6f ; alt: yellow bdba2d*/
}


em {
  color: #bac04f; /*previous italic vegas gold: b8b894 ; alt: red ; alt: orange d6b456*/
}