/* Use the css class: outline-note to use this snippet
Works best with the primary theme */

/*reading view bullets*/

.outline-note ul,
.outline-note ul ul,
.outline-note ul ul ul,
.outline-note ul ul ul ul,
.outline-note ul ul ul ul ul,
.outline-note ul ul ul ul ul ul,
.outline-note ul ul ul ul ul ul ul {
    list-style-type: disc;
}

/*Source mode position of collapse buttons*/
.outline-note .HyperMD-list-line .cm-fold-indicator .collapse-indicator {
    padding-right: 0;
    margin-right: -13px; /*adjust so that collapse buttons are directly in front of bullets*/
    z-index: 999;
}

/*Reading mode position of collapse buttons*/
.markdown-reading-view .outline-note .list-collapse-indicator {
    margin-left:-22px; /*adjust so that collapse buttons are directly in front of bullets*/
    padding:0;
}

.markdown-reading-view .outline-note .list-collapse-indicator:hover {
    color:var(--text-muted); /*color of collapse icons on reading view*/
}

/*radio button*/
body:not(.no-svg-replace) .outline-note .HyperMD-list-line .cm-fold-indicator.is-collapsed .right-triangle,
.outline-note ul > .is-collapsed > .list-collapse-indicator svg.right-triangle {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M12 5c-3.859 0-7 3.141-7 7s3.141 7 7 7 7-3.141 7-7-3.141-7-7-7zm0 12c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z'/%3E%3Cpath d='M12 9c-1.627 0-3 1.373-3 3s1.373 3 3 3 3-1.373 3-3-1.373-3-3-3z'/%3E%3C/svg%3E");
    -webkit-mask-size: 28px; /*adjust this size so that collapse buttons shows properly*/
    -webkit-mask-position: center center;    
}

.outline-note ul > .is-collapsed > .list-collapse-indicator svg.right-triangle,
.outline-note ul > :not(.is-collapsed) > .list-collapse-indicator svg.right-triangle:hover  {
    opacity: 1; /*show radio button in reading view when bullet is collapsed and minus button when hovering over expanded bullet*/
}

/*hide radio button in reading view when bullet is expanded*/
.outline-note ul > :not(.is-collapsed) svg.right-triangle,
.outline-note ul > :not(.is-collapsed) svg.right-triangle:hover  {
    opacity: 0;
}

/*plus button*/
body:not(.no-svg-replace) .outline-note .HyperMD-list-line .cm-fold-indicator.is-collapsed svg.right-triangle:hover,
.outline-note ul > .is-collapsed > .list-collapse-indicator > svg.right-triangle:hover {
    -webkit-mask-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z'/%3E%3C/svg%3E");
}

/*minus button*/
body:not(.no-svg-replace) .outline-note .HyperMD-list-line .cm-fold-indicator:not(.is-collapsed) svg.right-triangle:hover,
.outline-note ul > :not(.is-collapsed) > .list-collapse-indicator svg.right-triangle:hover {
    -webkit-mask-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M5 11h14v2H5z'/%3E%3C/svg%3E");
    -webkit-mask-position: center center;
}

/*Hide dashes in source mode*/
.outline-note .cm-formatting-list-ul {
    color:var(--background-primary)!important;
    position: relative;
}

/*bullets in source mode*/
.outline-note .cm-formatting-list-ul::after {
    content: "•";
    visibility: visible;
    position: absolute;
    top: 3; /*you may have to adjust this so that it aligns with the text well*/
    left: 0;
    color:var(--text-muted)!important; /*color of bullets*/
}

/*highlight color of expanded bullet*/
.outline-note .HyperMD-list-line > .cm-fold-indicator:not(.is-collapsed)~.cm-formatting-list-ul::after {
    color: red!important;
}


/*Zoom Plugin compatibility*/
/*I've set it so that a custom unicode icon shows up beside the bullet of the active line.
I've disabled zoom's default setting where a large bullet shows up upon hovering on the bullet.
You can click on the new unicode icon to zoom into the lists. 
Clicking on bullets to zoom in still work, though, but only on bullet items that are not expandable*/

/*add selector .zoom-plugin-bls-zoom .outline-note .cm-formatting-list-ul::before to show zoom icon on non-active lines*/
.zoom-plugin-bls-zoom .outline-note .cm-active .cm-formatting-list-ul::before {
    content: "\2386"!important; /*enter icon*/
    margin-top:0!important;
    visibility: visible;
    position:absolute;
    margin-left: -1.25em; /*adjust position of icon*/
    font-size: 180%; /*size of icon*/
    color:var(--text-muted)!important; /*color of icon*/
}

.zoom-plugin-bls-zoom .outline-note .cm-formatting-list-ul:hover:before {
    margin-top:0!important;
    margin-left: -1.25em!important; /*must be same value with margin-left above*/
    font-size: 180%!important; /*must be same value with font-size above*/
   
}