/*Key */
 body > .app-container .cm-s-obsidian .cm-hmd-frontmatter.cm-atom {     color: var(--text-accent); }

 /* Value */ 
body > .app-container .cm-s-obsidian .cm-hmd-frontmatter {     color: var(--text-muted); } 

/* String */ 
body > .app-container .cm-s-obsidian .cm-hmd-frontmatter.cm-string {     color: #ebcb8b; }

 /* Number */ 
body > .app-container .cm-s-obsidian .cm-hmd-frontmatter.cm-number {     color: var(--text-muted); }

 /* Bracket */
 body > .app-container .cm-s-obsidian .cm-hmd-frontmatter.cm-meta {     color: var(--text-muted); } 

/* Horizontal Line */ 
body > .app-container .cm-s-obsidian .cm-def.cm-hmd-frontmatter {     letter-spacing: 0.1em;     color: var(--text-muted); }