:root{
  
  
  
  
  /*----------------------------------------------------------------
  Blues
  ----------------------------------------------------------------*/
  
  --purple: #800080;
  --lightpurple: #EE82EE;
  --blueviolet: #8A2BE2;
  --boldpurple: #7322e6; 
  --teal: #008080;
  --aqua: #00FFFF;
  --blue: #0000FF;
  --navy: #000080;
  --steelblue: #4682B4;
  --royalblue: #7288da;
  --skyblue: #87CEEB;
  --deepskyblue: #00BFFF;
  --cornflower-blue: #a1c4fd;
  --duskblue: #a2acc3; 
  --mintblue: #26798c;
  
  
  /*----------------------------------------------------------------
  Greys
  ----------------------------------------------------------------*/
  
  --black: #000000;
  --gray: #808080;
  --darkgrey: #34343d;
  --silver: #c0c0c0;
  --darkslategrey: #2f4f4f;
  --greyishblue: #2b3e4f;
  
  
  /*----------------------------------------------------------------
  Whites
  ----------------------------------------------------------------*/
  
  --white: #ffffff; 
  --soothingwhite: #cccccc;
  --purplewhite: #d2b3ff; 
  --linen: #FAF0E6;
  --linen1: #fcecec;
  --linen2: #302e2e;
  --linen3: #636161;
  
  
  /*----------------------------------------------------------------
  Greens
  ----------------------------------------------------------------*/
  
  --greenyellow: #adff2f;
  --yellowgreen: #abda4f;
  --lawngreen: #7c7c00;
  --palegreen: #98fb98;
  --springgreen: #00ff7f;
  --seagreen: #2e8b57;
  --forestgreen: #228b22;
  --olive: #808000;
  --green: #008000;
  --lime: #00FF00;


  /*----------------------------------------------------------------
  Reds
  ----------------------------------------------------------------*/
  
  --red: #ff0000; 
  --firebrick: #b22222;
  --darkred: #8b0000;
  --crimson: #dc143c;
  --salmon: #fa8072;
  
  
  /*----------------------------------------------------------------
  Oranges
  ----------------------------------------------------------------*/
  
  --orange: #ffa500;
  --coral: #ff7f50;
  --tomato: #ff6347;
  --orangered: #ff4500;
  
  

  /*----------------------------------------------------------------
  Pinks & Purples
  ----------------------------------------------------------------*/
  
  --fuchsia: #FF00FF;
  --pink: #ffc0cb;
  --fairpink: #eed3e1; 
  --hotpink: #ff69b4;
  --deeppink: #ff1493;
  
  
  /*----------------------------------------------------------------
  Yellows
  ----------------------------------------------------------------*/
  
  --yellow: #FFFF00;
  --gold: #ffd700;
  --khaki: #F0E68C;
  --darkkhaki: #BDB76B;
  
  
  /*----------------------------------------------------------------
  Browns
  ----------------------------------------------------------------*/
  
  --brown: #A52A2A;
  --maroon: #800000;
  --brown: #D2691E;
  --sandybrown: #F4A460;
  --wheat: #F5DEB3;
  --darkgoldenrod: #B8860B;
  

}

.theme-dark{
	 /*----------------------------------------------------------------
    DARK THEME GRAPH
    ----------------------------------------------------------------*/

    --graph-line: var(--linen2); 
    --graph-line-highlight: var(--linen3);
    --graph-circle-outline: var(--aqua);
    --graph-fill-attachment: var(--purple); 
    --graph-circle-fill: var(--steelblue); /* cornflower blue for suble */
    --graph-circle-fill-highlight: var(--navy);
    --graph-circle-fill-unresolved: var(--linen3);
    --graph-fill-tag: var(--hotpink); /* for subtle use teal */
    --graph-arrow: var(--skyblue);
}


/*----------------------------------------------------------------
GRAPH CUSTOMIZATION
----------------------------------------------------------------*/

.theme-dark .graph-view.color-fill-tag {
  color: var(--graph-fill-tag);
  opacity: 70%;
}

.graph-view.color-fill-attachment {
  color: var(--graph-fill-attachment) !important;
}

.graph-view.color-fill-unresolved {
  color: var(--graph-circle-fill-unresolved);
  opacity: 50%;
}

.graph-view.color-arrow {
  color: var(--graph-arrow);
  opacity: 100%;
}

.graph-view.color-line {
  color: var(--graph-line);
  opacity: 90%;
}

.graph-view.color-line-highlight {
  color: var(--graph-line-highlight);
  opacity: 80%;
}

.graph-view.color-fill {
  color: var(--graph-circle-fill);
  opacity: 100%;
}

.graph-view.color-fill-highlight {
  color: var(--graph-circle-fill-highlight);
}

/* this one called color-circle actually means color of circle border when highlighted */
.graph-view.color-circle { 
  color: var(--mintblue);
}

.graph-view.color-text {
  color: var(--soothingwhite);
}


.graph-view.color-fill-focused {
  color:var(--red);
  opacity: 100%;
}


/* The part above this is very clean & simple, all are different shades of blue
So, blue is something I won't be touching much in the group settings of the graph */

/* --------------------------------

path:"🌿 Notes/MOC's" ==== #0000ff blue
tag:#status/🌲evergreen ==== #008000 green
tag:#status/🍃boat ==== #00FF00 bright green
tag:#status/💡opinion ==== #ff6347
path:"🌱 Journal/Daily Notes" ==== #FFFF00
path:"🌴 Academia/Subjects" ====
path:"🌴 Academia/Modules" ====
path:"🌴 Academia" ==== #FA8072



 */