/* variables */
:root {
  --accent-lightest: #F5F4FB;
  --accent-light: #d9d4f0; 
  --accent-middle: #646566; 
  --altaccentmine-middle: #363f30;
  --admonition-green: #64DD17; 
  --altaccent-middle: #277f8e; 
  --altaccent2-middle: #ad3fc9;
  --altaccent-light: #BFDEFF; 
  --altaccent-lighter: #E3E5E8; 
  --infobox-header: #F2EDFF;
  --header-font: 'Caveat Brush';
  --thickness-line: 1px; 
  }


/*Heading Line*/

h1:after {
  content: "";
  display: block;
  width: 99%;
  height: var(--thickness-line);
  background: linear-gradient(to right, #c7c400, transparent);
  left: 0;
}

.periodicnote h1:after {
  content: "";
  display: block;
  width: 99%;
  height: var(--thickness-line);
  background: linear-gradient(to left, #c7c400, transparent);
  left: 0;
}

h2:after {
  content: "";
  display: block;
  width: 99%;
  height: var(--thickness-line);
  background: linear-gradient(to right, #68a340, transparent);
  left: 0;
}

h3:after {
  content: "";
  display: block;
  width: 99%;
  height: var(--thickness-line);
  background: linear-gradient(to right, #6babcf, transparent);
  left: 0;
}

h4:after {
  content: "";
  display: block;
  width: 99%;
  height: var(--thickness-line);
  background: linear-gradient(to right, #cf9bf1, transparent);
  left: 0;
}

h5:after {
  content: "";
  display: block;
  width: 99%;
  height: var(--thickness-line);
  background: linear-gradient(to right, #eeb958, transparent);
  left: 0;
}

h6:after {
  content: "";
  display: block;
  width: 99%;
  height: var(--thickness-line);
  background: linear-gradient(to right, #c0e2d9, transparent);
  left: 0;
}