/* Headings and fonts */

h1,h2,h3,h4,h5,strong {font-weight:var(--bold-weight);}
h1,h2,h3,h4 {letter-spacing:-0.02em;} 

body, input, button  {
  font-family:var(--font-ui);
}

.popover,
.vertical-tab-content-container,
.workspace-leaf-content[data-type=markdown] {
  font-family:var(--text)
}
body, input, button,
.markdown-preview-view,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian {
  font-size:var(--font-adaptive-normal);
  font-weight:var(--normal-weight);
  line-height:var(--line-height);
  -webkit-font-smoothing:subpixel-antialiased;
}
.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-source-view,
.cm-s-obsidian .cm-formatting-hashtag, 
.cm-s-obsidian,
.cm-s-obsidian span.cm-formatting-task {
  line-height: 1.5;
  font-family:var(--text-editor);
}
.cm-s-obsidian span.cm-formatting-task {
  font-family:var(--text-editor);
  line-height:var(--line-height);
}
.cm-s-obsidian .cm-header,
.cm-s-obsidian .cm-strong {
  font-weight:var(--bold-weight);
}
.cm-formatting-header,
.cm-s-obsidian .cm-formatting-header.cm-header-1,
.cm-s-obsidian .cm-formatting-header.cm-header-2,
.cm-s-obsidian .cm-formatting-header.cm-header-3,
.cm-s-obsidian .cm-formatting-header.cm-header-4,
.cm-s-obsidian .cm-formatting-header.cm-header-5,
.cm-s-obsidian .cm-formatting-header.cm-header-6 {
  color:var(--text-faint);
}
.view-header-title,
.file-embed-title,
.markdown-embed-title {
  letter-spacing:-0.02em;
  text-align:left;
  font-size:var(--font-title);
  font-weight:var(--bold-weight);
}
h1,
.empty-state-title,
.markdown-preview-view h1,
.cm-s-obsidian .cm-header-1 {
  letter-spacing:-0.02em;
  line-height:1.3;
  font-size:2em;
  color:var(--h1-color);
  font-weight:var(--h1-weight);
  text-transform: uppercase;
  font-family: Caveat Brush;
  color: #c7c400;
}
.markdown-preview-view h2,
.cm-s-obsidian .cm-header-2 {
  letter-spacing:-0.02em;
  line-height:1.3;
  font-size:1.8em;
  color:var(--h2-color);
  font-weight:var(--h2-weight);
  font-family: Caveat Brush;
  color: #68a340;
}
.markdown-preview-view h3,
.cm-s-obsidian .cm-header-3 {
  letter-spacing:-0em;
  line-height:1.4;
  font-size:1.6em;
  color:var(--h3-color);
  font-weight:var(--h3-weight);
  font-family: Caveat Brush;
  color: #6babcf;
}
.markdown-preview-view h4,
.cm-s-obsidian .cm-header-4 {
  font-variant:normal;
  letter-spacing:0.02em;
  font-size:1.4em;
  color:var(--h4-color);
  font-weight:var(--h4-weight);
  font-family: Caveat Brush;
  color: #cf9bf1;
}
.markdown-preview-view h5,
.cm-s-obsidian .cm-header-5 {
  font-variant:normal;
  letter-spacing:0.02em;
  font-size:1.3em;
  color:var(--h5-color);
  font-weight:var(--h5-weight);
  font-family: Caveat Brush;
  color: #eeb958;
}
.markdown-preview-view h6,
.cm-s-obsidian .cm-header-6 {
  font-variant:uppercase;
  letter-spacing:0.01em;
  font-size:1.05em;
  color:var(--h6-color);
  font-weight:450;
  color: #8d9291;
}