/*--------------------------------------------------------------------------------
--------------------------- HEADING COLORS - Cybertron ---------------------------
----------------------------------------------------------------------------------*/


.markdown-preview-view h1,
.cm-header-1
{
  color: #c7c400;
}

.markdown-preview-view h2,
.cm-header-2
{
  color: #b9adff;
}

.markdown-preview-view h3,
.cm-header-3
{
  color: #52c1da;
}

.markdown-preview-view h4,
.cm-header-4
{
  color: #67c073;
}

.markdown-preview-view h5,
.cm-header-5
{
  color: #de87ca;
}

.markdown-preview-view h6,
.cm-header-6
{
  color: #b4b4b4;
}