/*--------------------------------------------------------------------------------
--------------------------- HEADING COLORS - Cybertron ---------------------------
----------------------------------------------------------------------------------*/


.markdown-preview-view h1,
.cm-header-1
{
  color: #c7c400; /* default color was #c7c400 */
}

.markdown-preview-view h2,
.cm-header-2
{
  color: #68a340; /* default color was #b9adff */
}

.markdown-preview-view h3,
.cm-header-3
{
  color: #6babcf; /* default color was #52c1da */
}

.markdown-preview-view h4,
.cm-header-4
{
  color: #eeb958; /* default color was #67c073 */
}

.markdown-preview-view h5,
.cm-header-5
{
  color: #cf9bf1; /* default color was #de87ca */
}

.markdown-preview-view h6,
.cm-header-6
{
  color: #569184; /* default color was #b4b4b4 */
}